# Node modules
node_modules/

# Logs
*.log
logs/

# Environment files
.env
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Package distribution
*.tgz

# IDE/Editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
